asgiref
django
django-appconf
django-compressor
django-sass
django-sass-processor
gunicorn
libsass
pillow
rcssmin
rjsmin
six
sqlparse
django-crispy-forms
black
isort
django-phonenumber-field
psycopg2-binary
