{% extends 'base.html' %}
{% block content %}
{% if request.user.is_staff %}
<table class="table table-bo{{ item.username }}rdered">
    <thead>
      <tr>
        <th scope="col">Час</th>
        <th scope="col">Им`я</th>
        <th scope="col">Телефон</th>
        <th scope="col">Питання</th>
        <th>Статус питання</th>
      </tr>
    </thead>
    <tbody>
    {% for item in all_question %}
      <tr>
        <th scope="row">{{ item.date_created }}</th>
        <td>{{ item.username }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.question }}</td>
        <td>
            <select size="" multiple name="">
             <option selected value="Нове">Нове</option>
             <option value="Не дозвонилися">Не дозвонилися</option>
             <option value="Дозвонилися">Дозвонилися</option>
             <option value="Відповідь дана">Відповідь дана</option>
            </select>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
